{% extends "main.html" %}

{% block main %}

    <div class="container">
        <div class="pull-right">
            <a style='color: #fff;' href='?action=exit'>{{ user }} [ Выйти ]</a>
        </div>
        <br>
        <br>
        <form method="POST" class="form-group" id="ajaxform">
            <input type="text" name="title" class="form-control" placeholder="Введите заголовок" autocomplete="off">
            <br>
            <textarea id="" cols="30" rows="5" name="content" class="form-control" placeholder="Введите текст поста" autocomplete="off"  style="resize: none;"></textarea>
            <br>
            <input type="submit" class="btn btn-success">
        </form>
    </div>


{% endblock %}
