{% extends "main.html" %}

{% block main %}

<div class="container text-center" style="background-color: rgba(0,0,0,.8);position: relative;padding: 40px 60px;display: block; border: 1px dashed #4cae4c;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;" id="out" action="/?action=auth">
    <form method="POST" style="margin: 0 auto;width: 400px; id="authform">
    <input type="text" name="login" class="form-control" required placeholder="Введите логин">
    <br>
    <input type="text" name="password" class="form-control" required placeholder="Введите пароль">
    <br>
    <input type="submit" value="Авторизоваться" class="btn btn-success">
    </form>
</div>

{% endblock %}